@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Get to Know Joel</h1>
    <ul>
        <li>Minored in Film Studies at BYU</li>
        <li>Contracted as a movie reviewer for ClearPlay</li>
        <li>Baconsale: Weekly podcast about films & pop culture</li>
    </ul>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy (come to see him perform)</a>
    <br />
    <a href="https://baconsale.com/">Baconsale</a>
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" height="500px" alt="Image of Baconsale Members"/>
    </a>
    <br />
</div>
